.container {
    height: 28rem;
    width: 20rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    margin-left: 30rem;
    margin-top: 4rem;
}
h1 {
    justify-content: center;
    display: flex;
    text-shadow: 2px 2px 10px black;
}
.contain {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.in1 {
    height: 3rem;
    width: 18rem;
    border-radius: 18px;
    box-decoration-break: none;
}
.buy {
    margin-bottom: 2rem;
    justify-content: end;
    display: flex;
    align-items: end;
}