.body {
    justify-content: center;
    display: flex;
    align-items: center;
}
.container {
    width: 75rem;
    height: 34rem;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
    margin-left: 1.5rem;
    display: flex;
}
.h1{
    justify-items: center;
    display: flex;
}