/* Whole page blow-up animation */
body {
  animation: blowUp 0.6s ease-out forwards;
  transform: scale(0.8);
  opacity: 0;
}

.parent {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

@keyframes blowUp {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  border-radius: 25px;
  box-shadow: 0px 0px 10px black;
  height: 35rem;
}

.image {
  margin-top: 2rem;
  margin-left: 1rem;
  border-radius: 25px;
  width: 17rem;
  height: 19rem;

}
.pteg {
  font-size: 30px;
  justify-content: baseline;
  align-items: baseline;
  display: flex;
  width: 55rem;
  margin-top: 3rem;
  margin-right: 3rem;
  flex-direction: column;
  gap:none;
  margin-bottom: 0;
  gap: 3rem;
}
.main {
  height: 30rem;
  width: 30rem;
  display: flex;
  margin-top: 0;
}
.hh {
  padding-bottom: 8rem;
  color:  red;
  margin-top: 0;

  margin-bottom: 0;
}
.fork{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 15px;
}
.pic1{
  width: 3rem;
  height: 3rem;
  border-radius: 12px;

}
.pic2 {
  width: 3rem;
  height: 3rem;
  border-radius: 12px;
}
.pay {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.buy {
  background-color:rgb(79, 177, 238);
  color: white;
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;font-style: normal;
  color: white;
}