.container {
    height: 28rem;
    width: 20rem;
    margin-top: 4rem;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
    margin-left: 30rem;
    justify-content:center;
}
h1 {
    margin-left: 1rem;
    justify-content: center;
    display: flex;
}
.contain {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}
.img1 {
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.img2 {
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.img3 {
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.img4 {
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}